<% @title = "liste" %>
<h2> Liste der Favouriten </h2>
<ul>
	<% @bookmarks.each do |bookmark| %>
	  <li>
	  	<%= link_to bookmark.title, bookmark.url %>
	  	(<%= link_to "Details", bookmark_path(bookmark) %>)
	  </li>
	<% end %>
</ul>